@charset "utf-8";
/* CSS Document */

body {
  font-family:Cabin, "Cabin Condensed", "Cabin Condensed Medium", "Cabin Condensed SemiBold", "Cabin Medium", "Cabin SemiBold";
  font-size: 16px;
  line-height: .8;
  background-color: #f0f0f0; 
  color: #333; 
width: 100%;
	margin: 0;
  padding: 0;
	overflow-x: hidden;
	
}
/* general containers for layour */

.containerall {
	width: 100vw;
	box-sizing: border-box;
	
}


.container {
  width: 100vw;
  display: flex;
  align-items: center;
  text-align:inherit;
	
}

.half {
  flex: 1;
	margin-left: 30px;
	margin-right:30px;
	transition: transform 0.5s;
}

/*branch of half for contact at bottom*/
#contact{
	padding-left:50px;
	padding-bottom:130px;
}

/* Overall horizontal strips for each section */
.strip {
    width: 100%;
	height:auto;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: rgba(0,0,0,0.30);
    color: #fff; /* Text color */
    font-size: 2rem;
	
	
}
/* specifics for each strip, in order from top to bottom */
#section1 {
    background-image: url(media/lake-7753345_1280.jpg);
    align-items:flex-end;
    display: inline-flex;
	background-size: cover;
	background-color: rgba(0,0,0,0.40);
	background-blend-mode: overlay;
}

#section2 {
    display: flex;
	background-color: rgba(0,0,0,0.50);
	background-blend-mode: overlay;
    background-image: url("media/ambassador-bridge-7663730_1280.webp");
	background-size: cover;
}

#section3 {
    background-color: rgba(0,0,0,0.40);
	background-blend-mode: overlay;
    display: inline-block;
    background-image: url(media/ice-7753346_1280.jpg);

}

#section4 {
  background-color: rgba(0,0,0,0.40);
	background-blend-mode: overlay;
	display: flex;
	background-image: url("media/nature-3806035_1280.jpg");
}

#section5 {
	padding-top:300px;
  background-color: rgba(0,0,0,0.30);
	background-blend-mode: overlay;
	display: inline-block;
	background-image: url("media/heavy-frost-4342118_1280.jpg");
	background-size: cover;
	padding-bottom:100px;
}

#section6 {
  background-color: rgba(0,0,0,0.30);
	background-blend-mode: overlay;
	display: inline-block;
	background-image: url("media/belle-isle-4401867_1280.jpg");
	background-size: cover;
	padding-bottom:10px;
}

#section7 {
  background-color: #e74c3c;
	display: flex;
}

#section8 {
  background-color: rgba(0,0,0,0.30);
	background-blend-mode: overlay;
	display: inline-block;
	background-image: url("media/belle-isle-4401867_1280.jpg");
	background-size: cover;
	padding-bottom:100px;
	
}

/* specific strip text header and p values */
.strip h1{
	font-size: 180px;
	position:relative;
	color: white;
	line-height: .1;
	padding-top:50px;
}
.strip h2{
	font-size: 60px;
	text-align: left;
	padding-left:0px;
	color:gold;
	
}

.strip h3{
	font-size: 60px;
	text-align: left;
	padding-left:40px;
	color:white;
	
}


.grid-item {
  background-color: #3498db;
	margin-bottom: 50px;
	
  text-align: center;	
	width: 350px;
	height: 500px;
  color: #ffffff; 
}
.grid-container{
	width: 100%;
	justify-content: center;
	align-content: center;
}
#gridsection5{
	place-items: stretch center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
	align-self: center;
	width:100%;
}
#gridsection6{
	place-items: stretch center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
	align-self: center;
	width:100%;
}
#gridsection3{
    place-items: stretch center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
	align-self: center;
}

#gridsection4{
    place-items: stretch center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    width: 100%;
}
#grid-profile{
    place-items: stretch center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    justify-content: center;
	align:block;
}
/* grid sections for section 3 or the tours section*/
#grid1{
    background-color: black;
    background-image: url(media/architecture-3528885_1280.jpg);
	background-size: cover;
	position:relative;
	margin-left: 30px;
	margin-right: 30px;
}

#grid2{
    background-color: black;
    background-image: url("media/sunrise-7794922_1280.jpg");
	background-size: cover;
	position:relative;
	margin-left: 30px;
	margin-right: 30px;
}

#grid3{
    background-color: black;
    background-image: url("media/detroit-3700847_1280.jpg");
	background-size: cover;
	position:relative;
	margin-left: 30px;
	margin-right: 30px;
}

#grid6{
	width: 100%;
	 background-color: black;
    background-image: url("media/lake-superior-4018775_1280.jpg");
	background-size: cover;
	position:relative;
	margin-bottom:0px;
}

#grid7{
	width: 100%;
	 background-color: black;
    background-image: url("media/trap-hills-4028359_1280.jpg");
	background-size: cover;
	position:relative;
	margin-bottom:0px;
}

#grid8{
	width: 100%;
	 background-color: black;
    background-image: url("media/lighthouse-7680105_1280.jpg");
	background-size: cover;
	position:relative;
	margin-bottom:0px;
}
#grid9{
	width: 100%;
	 background-color: black;
    background-image: url("media/tahquomenon-falls-73592_1280.jpg");
	background-size: cover;
	position:relative;
	margin-bottom:0px;
	
}

/*page 2 of carosel*/
#grid10{
	width: 100%;
	 background-color: black;
    background-image: url("media/sunrise-6583235_1280.jpg");
	background-size: cover;
	position:relative;
	margin-bottom:0px;
}
#grid11{
	width: 100%;
	 background-color: black;
    background-image: url("media/nature-3806035_1280.jpg");
	background-size: cover;
	position:relative;
	margin-bottom:0px;
}
#grid12{
	width: 100%;
	 background-color: black;
    background-image: url("media/caves-2989996_1280.jpg");
	background-size: cover;
	position:relative;
	margin-bottom:0px;
}
#grid13{
	width: 100%;
	 background-color: black;
    background-image: url("media/marina-890352_1280.jpg");
	background-size: cover;
	position:relative;
	margin-bottom:0px;
}
/* black circles for section 5, originally stemmed from grid system but had to branch off to its own thing*/
.grid5{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: black;
    margin-bottom: 20px;
	position:relative;
	margin:30px;
}
/* profile picture */
#profile{
	background-image:url("media/5795218-close-up-of-a-young-man-rubbing-his-temples-and-looking-pained-square-format.jpg");
	background-size: 300px;
 	width: 300px;
  	height: 300px;
	background-color:lawngreen;
}
.grid5 h2{
	padding:0px;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    line-height: .5;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    color: gold;
    width: auto;
}

.grid5 h3{
    font-size: 18px;
    text-align: left;
    font-style: italic;

}
/* this is the gradient for text visibility on grids 1,2 ,3*/
.grid-item-text{
	line-height: 2.5;
    height: 25%;
    width: 100%;
	padding-top:108%;
    background-image: -webkit-linear-gradient(90deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,0.00) 100%), url(url);
    background-image: -moz-linear-gradient(90deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,0.00) 100%), url(url);
    background-image: -o-linear-gradient(90deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,0.00) 100%), url(url);
    background-image: linear-gradient(0deg,rgba(0,0,0,.90) 20%,rgba(0,0,0,0.00) 60%), url(url);
    background-blend-mode: multiply;
	transition: transform 0.5s;
}




.article {
  text-align: left;
	margin: auto;
  padding: 20px;
	color:white;
	line-height: 1.1;
	font-weight: 100;
}

#contactus{
	padding-top:80px;
}
/* Style the article title */
.article h1 {
  font-size: 28px;
  
  margin-bottom: 10px;
}

/* Style article headings */
.article h2 {
  font-size: 24px;
 margin-left:-20px;
  margin-top: 20px;
}

/* Style the main article text */
.article p {
  font-size: 16px;
  line-height: 1.2;
	font-weight: normal;
	text-indent: 50px;
  
}




/* Style for unordered and ordered lists */
.article ul,
.article ol {
  margin: 15px 0 15px 20px;
}

/* Style for list items */
.article li {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

/* Add some space at the bottom of the article */
.article:last-child {
  margin-bottom: 20px;
}


/*buttons*/


.btn{
	background-color: gold;
	padding-bottom:20px;
	width:150px;
	font-size:18px;
	padding-top:18px;
	display: inline-block;
	text-align: center;
	color:midnightblue;
	font-weight:600;
	margin-bottom:30px;
}
#contactbtn {	
	background-color: gold;
	
	width:150px;
	font-size:18px;
	padding-bottom:20px;
	padding-top:20px;
	margin-left:30px;
	display: inline-block;
	color:midnightblue;
	font-weight:600;
	margin-bottom:10px;
	float:left;
}

/*buttons and content for drop downs*/
.btnarrow{
    height: 50px;
    width: 50px;
	position:absolute;
	bottom: 2%;
	background-image: url("media/svg/caret-down-fill.svg");
    color: white;
   cursor: pointer;
  text-align: center;
	transform:scaleY(-1);
}
.dwnbuttoncontainer{
	transform: scaleY(0.0);
	justify-content: center;
	width:100%;
	transition: padding.5s;
	bakcground-color:black;
	padding: 10px 0px 10px 0px;
	
	
}
.downbtnarrow{
	height: 50px;
    width: 50px;
	margin-left:50%;
	background-image: url("media/svg/caret-down-fill.svg");
    color: white;
   cursor: pointer;
	float:bottom;
}
.hidden-text {
background:black;
display: none;
align-text: center;
height: 240%;
}

.hidden-text p {
	margin:auto;
	line-height: 1.5;
	font-size: 14px;
	padding-bottom: 100px;
	padding-top:50px;
	height:240%;
}
/* text query */

textarea {
	 background-color: transparent; 
     border: 2px solid white; 
     width: 500px; 
     height: 30px; 
     padding: 10px;
	 margin:10px; 
     color: grey; 
	font-size:16px;
	line-height: 1.5;
	align-content: center;
	display: block;
}

#message{
	 height: 90px; 
}

/* carousel*/

.carousel-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.carousel-slides {
    display: flex;
    overflow: hidden;
	  position: relative;
}

.slide {
    width: 100%;
    height: auto;
    display: none;
}

.carousel-control {
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
	z-index: 1;
}

#prevBtn {
    float:left;
	position: absolute;
}

#nextBtn {
    position: absolute;
    right: 0;
}
